.sensei-grid {
    outline: none;
}
.sensei-grid table {
	table-layout: fixed;
	empty-cells: show;
}
.sensei-grid td,
.sensei-grid th {
    white-space: nowrap;
    overflow: hidden;
}
.sensei-grid td>div,
.sensei-grid th>div {
    overflow: hidden;
}
.sensei-grid tr div::after {
    content: '\00a0';
}
.sensei-grid thead {
	background: #F5F5F5;
}
.sensei-grid thead>tr>th {
	border-bottom-width: 1px;
    font-weight: bold;
}
.sensei-grid .activeCell {
	background: #d0e9f8;
	border: 1px double #3399ff;
}
.sensei-grid .activeRow {
	background: #eff7fc;
}
.sensei-grid .sensei-grid-dirty-row {
    color: gray;
}

.sensei-grid-editor {
	position: absolute;
	background: white;
	border: 2px solid #3399ff;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.sensei-grid-editor input,
.sensei-grid-editor select {
	border: none;
	width: 100%;
	height: 100%;
	box-shadow: none;
	outline: none;
	padding: 5px 6px;
    background: #fff;
}

.sensei-grid th.sensei-grid-sortable {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding-right: 22px;
    position: relative;
}
.sensei-grid th.sensei-grid-sortable div {
}
.sensei-grid th.sensei-grid-sortable .glyphicon {
    font-size: 10px;
    color: #aaa;
    position: absolute;
    right: 7px;
    top: 13px;
}